
<!-- <div class="ui middle aligned center aligned grid">
  <div class="column"> -->

<div class="ui raised very padded container segment text center aligned" style="margin-top: 10em;">

    <%= flash_message %>

    <h1> Sign in to Garden Tracker </h1>


    <%= form_for @user, url: sessions_create_path, method: :post do |f| %>

      <%= render partial: "users/form", locals: { f: f } %>

    <% end %>

    <h3> Or <%= link_to "create an Account", new_user_path %> </h3>
</div>
