<div class="ui container center aligned">
  <%= display_any_errors(@species) %>
</div>

<div class="ui container center aligned">

    <div>

        <h1 class="underlined"> Create a New Species </h1>

        <div class="ui divider divider-spacer"></div>

        <div class="ui big form center aligned">

            <%= render partial: "species/form", locals: { species: @species } %>

        </div>

    </div>

</div>
