<h1> Add Species: </h1>

<%= display_any_errors(@species) %>

<%= form_for @species, url: user_species_index_path(current_user.id), method: :post do |f| %>

  <%= render partial: "species/form", locals: { f: f } %>

<% end %>
