
<h2>
<%= f.text_field :name, placeholder: " Name", class: "centered" %> </h2>
<h2>
<%= f.password_field :password, placeholder: " Password", class: "centered" %> </h2>
<%= f.submit "Sign In", class: "ui button" %>
