
<%= flash_message %>

<div class="ui container">


  <div></div>

  <h1 class="ui header center aligned">Summary of Active Gardens</h1>

  <div></div>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>Garden Name</th>
        <th>Upcoming Maturities</th>
      </tr>
    </thead>
    <tbody>

      <% @gardens.each do |garden| %>
        <tr>
          <td> <%= link_to garden.name, user_garden_path(@user.id, garden.id) %> </td>
          <td> <%= garden.plantings %> </td>
        </tr>
      <% end %>

    </tbody>
  </table>

</div>
