
<div class="ui container center aligned">
  <%= flash_message %>
</div>

<div class="ui container">


  <div></div>

  <h1 class="ui header center aligned">Summary of Active Gardens</h1>

  <div></div>

  <table class="ui celled table center aligned">
    <thead>
      <tr>
        <th class="eight wide">Garden Name</th>
        <th class="eight wide">Upcoming Maturities</th>
      </tr>
    </thead>
    <tbody>

      <% @active_gardens.each do |garden| %>
        <tr>
          <td> <%= link_to garden.name, user_garden_path(@user.id, garden.id)%> </td>
          <td>
              <%= render partial: "gardens/upcoming_maturities_short_list", locals: { garden: garden } %>

          </td>
        </tr>
      <% end %>

    </tbody>
  </table>

</div>
