
<% if garden.get_upcoming_maturities  %>

  <div class="ui list">
    <% garden.get_upcoming_maturities[0..2].each do | planting |  %>
      <div class="item"> <%= planting.name %> -- <%= planting.expected_maturity_date.strftime("%m/%d/%Y") %></div>
    <% end %>
  </div>

<% else  %>

  No upcoming maturities based on data available.

<% end %>
