<h1> Edit Garden: </h1>

<%= render partial: 'layouts/errors', locals: {errors: @garden.errors} if @garden.errors.any? %>

<%= form_for @garden do |f| %>

  <%= render partial: "gardens/form", locals: { f: f } %>


  <div>
    <%= f.submit "Submit" %>
  </div>

<% end %>
