<% if @user %>
  <h1> <%= @user.name %>'s Gardens </h1>
<% else %>
  <h1> Users' Gardens </h1>
<% end %>

<ul>
  <% @gardens.each do |garden| %>
    <% if @user %>
        <li> <%= link_to garden.name, user_garden_path(@user.id, garden.id) %> </li>
    <% else %>
      <li> <%= link_to garden.name, garden_path(garden.id) %> - By <%= link_to garden.user.name, user_gardens_path(garden.user.id) %> </li>
    <% end %>
   <% end  %>
</ul>
