<div class="ui container">

  <div></div>

  <h1 class="ui header center aligned"> <%= @user.name %>'s Gardens </h1>

  <div class="ui divider divider-spacer"></div>

  <div> <!-- conatiner for active gardens -->

    <h2 class="ui header center aligned underlined"> Active Gardens </h2>

    <% @active_gardens.each do |garden| %>

      <%= render partial: "gardens/garden_table_short", locals: { garden: garden } %>

    <% end %>

  </div>  <!-- end conatiner for active gardens -->

  <div class="ui divider divider-spacer"></div>

  <div> <!-- conatiner for inactive gardens -->

    <h2 class="ui header center aligned underlined"> Inactive Gardens </h2>

    <% @inactive_gardens.each do |garden| %>

      <%= render partial: "gardens/garden_table_short", locals: { garden: garden } %>

    <% end %>

  </div>  <!-- end conatiner for inactive gardens -->


</div>
