<div class="ui container center aligned">
  <%= display_any_errors(@garden) %>
</div>

<div class="ui container center aligned">

    <div>

        <h1 class="underlined"> Create a New Garden </h1>

        <div class="ui divider divider-spacer"></div>

        <div class="ui big form center aligned">

            <%= render partial: "gardens/form", locals: { garden: @garden } %>

        </div>

    </div>

</div>
