/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require semantic_ui/semantic_ui
 *= require_tree .
 *= require_self


/* body {
  background: #189436fa;
} */

div {
  margin: 15px;
}

.field_with_errors {
  color: red;
  display: inline;
  margin-left: -2px;
}

.error-messages {
  border: 2px solid red;
}

.message {
  color: red;
  border: 2px solid black;
}

a.indented {
  display: inline-block;
  text-indent: 40px;
}

.garden_button {
  background-color: pink;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

#species_form_container {
  border: 10px solid black;
}
