
<div class="error-messages">

  <div>
    <h3> Sorry, there were some problems with your input: </h3>
      <ul>
        <%  errors.full_messages.each do |msg| %>
          <li style="list-style:none;"> <%= msg %></li>
        <% end %>
      </ul>
  </div>

</div>
